{
    debug
    auto_https disable_redirects
    auto_https off
}

http://localhost {
    handle /api/v1/users* {
        reverse_proxy http://users-ms:8010
    }

    handle /api/v1/projects* {
        reverse_proxy http://projects-ms:8000
    }

    handle /api/v1/images* {
        reverse_proxy http://projects-ms:8000
    }

    handle /api/v1/projects/*/ws {
        reverse_proxy http://projects-ms:8000 {
            transport http {
                versions h1 h2
            }
        }
    }

    respond "Not found" 404
}